# Python
pycache/
*.py[cod]
*.sqlite3
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
.env

# Django
*.log
db.sqlite3
media/

# Environment variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# pytest / coverage
.coverage
htmlcov/

# migrations cache (не всегда нужно, но можно)
**/migrations/pycache/

.log